.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build
/production

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

## Intellij IDEA ##
.idea/