.idea
/ConversorDeDivisas/nbproject/private/
/ConversorDeDivisas/build/
/Calculadora/nbproject/private/
/Calculator/build/
/Calculadora/build/
/Geometria/nbproject/private/
/Geometria/build/
/12-Circulos/nbproject/private/
/12-Circulos/build/
/Interfaces/nbproject/private/
/Interfaces/dist/
/Interfaces/build/
