.idea
/ConversorDeDivisas/nbproject/private/
/ConversorDeDivisas/build/
/Calculadora/nbproject/private/
/Calculator/build/
/Calculadora/build/
/Geometria/nbproject/private/
/Geometria/build/
/12-Circulos/nbproject/private/
/12-Circulos/build/
/Interfaces/nbproject/private/
/Interfaces/dist/
/Interfaces/build/
/14-Excepciones/nbproject/private/
/14-Excepciones/build/
/15-Iva-Volumenes/nbproject/private/
/15-Iva-Volumenes/build/
/15-Iva-Volumenes/dist/
/Archivos/nbproject/private/
/Archivos/build/
/Login/nbproject/private/
/17-Login/nbproject/private/
/17-Login/build/
/15-Archivos/nbproject/private/
